[submodule "nrf51-pure-gcc-setup"]
	path = nrf51-pure-gcc-setup
	url = https://github.com/jsr38/nrf51-pure-gcc-setup.git
	branch = 4.4.2
[submodule "nrf51-sht2x-library"]
	path = nrf51-sht2x-library
	url = https://github.com/jsr38/nrf51-sht2x-library.git
	branch = master
